.pageLogin {
    box-shadow: 8px 8px 10px rgb(236, 230, 230);
    width:450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important;


background-color: rgb(245, 245, 245,0.4);
}
.backround-sign-page{

   height: 100vh ;
   background-repeat: cover;
   

    background-image: url(../communComponets/img/litalBac.png);   
}
.img_login_page {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 90px;
}
.login-button-page{

background-color: transparent;
border-radius: 5px;

}
.con-log-btn{
    margin-top: 70px;
    float: right;
}
.loginLabel{
    font-weight: 80;
    padding: 20px;
    color: #857874 ;
    margin-top: 10px;
}
label .loginLabelRember{
   /* font-weight: 70;*/
    color: #857874 ;
  
}
.Bienvenue{
    color: whitesmoke;
}
.input_login {

    border: none !important;
   border-bottom:#857874 solid 2px !important; 
   padding: 8px 10px!important;
   border-radius: 4px !important;
   cursor: pointer !important;
   float: left !important;
   height: 25px !important;
   width: 90%!important;
   margin-bottom: 40px !important;  
   background-color: rgb(255, 255, 255,0.8)!important;  
 

  
 }
 .form{
     padding-top: 180px !important;
 }
