
@media only screen and (max-width: 400px) {
    .table-product{
      
      
       max-width: 100%;
        overflow-x: scroll;
        
    }
    
}
.table{
   
    table-layout: fixed !important;
    width: 1420px !important;

    background-color: #f2eae3 !important;
    zoom: 78%;
    
    font-size: 20px !important;
}
.btn-trash{
  width: 15px;  

}
body{
    margin-left: 0px !important;
}
.table-product{
      

    table-layout:fixed;
    overflow: scroll;

     
 }
.mini{
width: 75px;
}
.ajout-product{
    width: 75px;
    color: green;
    border-radius: 5px;
    font-family: 0.4em;
    background-color: transparent;
   border: green solid 2px ;
}
.btnSubmit{
    width:80px;
}