.App {
  text-align: center;
}

.header-array{
  background-color: #695548 !important;
  color:whitesmoke!important;
}
.input-form-css{
  width: 250px;
 
  margin-bottom: 5px;


  border-bottom:#857874 solid 2px ;
  padding: 8px 10px!important;
  border-radius: 4px !important;
  cursor: pointer !important;

  height: 25px ;


  background-color: rgb(255, 255, 255,0.8);  
}
